
.div-fundo img{
    border-radius: 300px;
    position: relative;
    margin-top: 200px;
    width: 300px;
    background-color: #262626;
}


.menu img{
    width: 80px;
    border-radius: 60px;
}
.menu{
    margin-left: 20px;
}
.menu > li >img{
    width: 25px;
    filter: invert(1);
}
.nav{
    background-color: #262626;
    width: 200px;
    height: 100vh;
    border-top-right-radius: 50px;
    position: absolute;
    top: 0%;
    z-index: 999;
}
nav a{
    color: white;
}
a:hover{
    color: #38b6ff;
}

li{
    margin-top: 30px;
}


/*-------------------------------HOME--------------------------------*/
.section{
    position: absolute;
    background-color: #EFEFEF;
    width: 100%;
    top: 0%;
    right: 0%;
}
.conteiner-home{
    width: 700px;
    margin: auto;
}

.home{
    z-index: 999;
    margin: auto;
}
.home img{
   width: 50px;
 }
.home p{
   font-size: 10px;
}
.user{
    position: absolute;
    background-color: #262626;
    right: 0%;
    width: 250px;
    height: 60px;
    border-radius: 40px 0px 0px 40px;
    text-align: center;

}
.user h6{
    color: #FFF;
}

/*section-academica*/
.section-academica{
    text-align: center;
}

.vida-academica{
    margin-left: 250px;
    text-align: center;
}
.section-academica a{
    color: #262626;
}
.list-group{
    width: 400px;
    
}

/*Faltas*/

.faltas{
    background-color: #EFEFEF;
    height: 300px;
    width: 500px;
}
select{
    max-width: 200px;
    width: 100%;
    height: 30px;
}
.total-falta{
    background-color: red;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    margin: auto;
    color: white;
    text-align: center;
}



